# unity ignore dir
[Bb]in/
[Bb]uilds/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]serSettings/

# unity ignore file
*.unityproj
*.sln
*.user
*.userprefs
*.tmp

# visual studio ignore dir
.vs
.vscode
Grduation_Game/Assembly-CSharp.csproj
